/*
	Phantom by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Tiles */

body.is-preload .tiles article {
  -moz-transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
